.title {
	background-color: #CFCEC5;
	height: 55px;
	margin-bottom: 50px;
}

.title img {
	margin-top: 16px;
	float: left;
}

.maps {
	height: 440px;
}

.map_images {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
	width: 100%;
}

.map_images li {
	float: left;
	display: block;
	margin-right: 57px;
}

.map_images li:nth-child(3) {
	margin-right: 0;
}

.title_map {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
	width: 100%;
}

.title_map li:nth-child(1) {
	padding: 0;
	margin-left: 105px;
	display: inline;
	float: left;
}

.title_map li {
	margin-left: 250px;
	display: inline;
	float: left;
}

.title_map li p {
	font-size: 18px;
	font-color: #333333;
}

#title_custom {
	margin-left: 280px;
}

#title_forest {
	margin-left: 280px;
}

.description_map {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
	width: 100%;
}

.description_map li {
	display: inline;
	float: left;
	width: 333px;
	margin-right: 57px;
}

.description_map li:nth-child(3) {
	margin-right: 0px;
}

.button_map {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
	width: 100%;
}

.button_map li {
	float: left;
	display: inline;
	margin-left: 57px;
}

.button_map li:nth-child(1) {
	margin-left: 0;
}