.title {
	background-color: #CFCEC5;
	height: 55px;
	margin-bottom: 50px;
}

.title img {
	margin-top: 16px;
	float: left;
}

.sellers {
	height: 450px;
}

.seller_images {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}

.seller_images li {
	float: left;
	display: block;
	margin-right: 57px;
}

.seller_images li:nth-child(3) {
	margin-right: 0;
}

.title_seller {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}

.title_seller li:nth-child(1) {
	padding: 0;
	margin-left: 133px;
	display: inline;
	float: left;
}

.title_seller li {
	margin-left: 300px;
	display: inline;
	float: left;
}

.title_seller li p {
	font-size: 18px;
	font-color: #333333;
}

.description_seller {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}

.description_seller li {
	display: inline;
	float: left;
	width: 333px;
	margin-right: 57px;
}

.description_seller li:nth-child(3) {
	margin-right: 0px;
}

.button_seller {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}

.button_seller li {
	float: left;
	display: inline;
	margin-left: 57px;
}

.button_seller li:nth-child(1) {
	margin-left: 0;
}

.about {
	height: 800px;
}